@mixin container {
  display: grid;
  grid-template-columns: minmax(auto, var(--container--base));
  justify-content: center;
  padding: var(--space--medium);
}

main {
  @include container;

  grid-row-gap: var(--space--x-large);
}

section li {
  @include padding(var(--space--base) null);

  align-items: baseline;
  border-bottom-style: solid;
  border-bottom-width: var(--border-thickness--base);
  display: grid;
  grid-gap: var(--space--medium);
  grid-template-columns: min(var(--space--medium)) auto;
  justify-content: start;
}

footer {
  @include container;

  border-top-style: solid;
  border-top-width: var(--border-thickness--base);
  margin-top: var(--space--x-large);
}

footer ul {
  display: grid;
  grid-gap: var(--space--small);
  grid-template-columns: repeat(auto-fit, minmax(10ch, 1fr));
  margin-top: var(--space--base);
}
