html {
  font-size: 100%;
}

body {
  font-family: var(--font-family--base);
  font-variant-ligatures: common-ligatures discretionary-ligatures;
  font-variant-numeric: oldstyle-nums stacked-fractions;
  line-height: var(--line-height--base);
}

p,
h1,
h2,
h3 {
  margin: 0;
}

h2 {
  font-size: var(--font-size--base);
}

time {
  font-size: var(--font-size--small);
}

section li a {
  font-size: clamp(1.2rem, 2vw, 2rem);
}

@mixin relative-clamp-sizes($min, $val, $max, $ratio) {
  font-size: clamp(#{$min}, #{$val}, #{$max});

  a {
    text-decoration-thickness: clamp(
      calc(#{$min} / #{$ratio}),
      calc(#{$val} / #{$ratio}),
      calc(#{$max} / #{$ratio})
    );
  }
}

header > p {
  @include relative-clamp-sizes(
    var(--font-size--medium),
    4vw,
    var(--font-size--large),
    8
  );

  line-height: var(--line-height--tight);
}
