//=======================
// Layout
//=======================

.hidden
 	width 0px 
 	height 0px 
 	overflow hidden
 	position absolute
 	padding 0 0
 	&:focus 
 		width auto
 		height auto
 		background-color #efefef
 		padding 0.5em 
 		font-family $benton
 		z-index 1
 
a
	text-decoration none

body
	text-size-adjust 100%

// Container
.container
	width 90%
	margin 2em auto
	max-width 50em
	+mq('bp-2')
		padding 0 12em