//=======================
// Main Content
//=======================
.content
	position relative
	
	&--hed
		font($sans, $regular)
		font-size 0.8em
		color $text
		letter-spacing 0.05em
		line-height 1.5
		text-transform uppercase
		margin-bottom 1em
		padding-bottom 1em
		// text-align center
		// border-bottom 1px solid lighten($text, 75)
		
		+mq('bp-2')
			margin-bottom 2em
			
		&:before
			content '\1F389'
			display inline-block
			margin-right 0.5em
			animation bounce 1s infinite
			
		&:after
			content '\1F389'
			display inline-block
			margin-left 0.5em
			animation bounce 1s 0.5s infinite

// Animation
@keyframes bounce
	0%
		transform translateY(0)
	50%
		transform translateY(-0.5em)
	100%
		transfom translateY(0)