//=======================
// Header
//=======================

.hed
	position relative
	
	
	&--tagline
		font($sans)
		font-size 1.2em
		color $text
		line-height 1.5
		text-align center
		
		// +mq('bp-2')
		// 	padding-bottom 3em

		
		&:before
			content '\1F389'
			display block
			margin-right 0.5em
			animation bounce 1s infinite


