//=======================
// Header
//=======================

.hed
	position relative
	
	
	&--tagline
		font($sans)
		font-size 1.2em
		color $text
		line-height 1.5
		text-align center

		
		&:before
			content '\1F389'
			display block
			margin-right 0.5em
			animation bounce 1s infinite

// Animation
@keyframes bounce
	0%
		transform translateY(0)
	50%
		transform translateY(-0.5em)
	100%
		transfom translateY(0)


