//=======================
// Custom styles
//=======================

// To use images in assets folder:
// ex: background-image url($assets-path + 'filename.jpg')

// See `base` folder for variables (color, font, media queries)

$celedon = #9DE0AD
$teal = #45ADA8
$salmon = #FC9D9A
$steel = #547980
$eggshell = #FFFCF7


gingham(width, color1, color2, color3, color4)
	box-shadow inset 0 width 0 0 rgba(color1, 0.5),
			   inset (-(width)) 0 0 rgba(color2, 0.5),
			   inset 0 (-(width)) 0 0 rgba(color3, 0.5),
			   inset width 0 0 rgba(color4, 0.5)


body
	min-height 100vh
	padding 1.5em
	overflow-x hidden
	background-color $eggshell
	gingham(1.5em, $celedon, $teal, $salmon, $steel)


// Container
.container
	display flex
	justify-content center


// Link List
.refer
	
	&--subhed
		font($sans, $bold)
		rhythm('medium')
	
	&--list
		list-style-type none
	
	&--item
		rhythm('base')
	
	&--link
		font($sans, $bold)
		color darken($steel, 40%)
		text-decoration none
		position relative
		transition 0.3s ease all
		padding-bottom 0.5em
		
		&:before
			content ''
			position absolute
			bottom 0
			right 0
			display block
			width 100%
			border-bottom 5px solid $teal
			transition 1s ease all
		
		&:after
			@extends .refer--link:before
			border-bottom 5px solid $salmon
		
		&:hover
			&:before
				width 100%
			
			&:after
				width 0px
			