//=======================
// Custom styles
//=======================

// To use images in assets folder:
// ex: background-image url($assets-path + 'filename.jpg')

// See `base` folder for variables (color, font, media queries)

body
	min-height 100vh
	overflow-x hidden
	border 20px solid #231f20
	background-color #faf3e6