//=======================
// Note
//=======================


.note
	transition $ease
	height 7em
	min-height 100%
	z-index 100
	
	+mq('bp-2')
		position absolute
		left 0
		top 0.5em
		max-width 10em
		height 100%
	
	&--tag
		background-color rgba($celedon, 0.85)
		padding 0.05em 0.5em
		border-radius 3px
		transition $ease
		cursor pointer
		
		
		&:hover
			background-color rgba($salmon, 0.5)
	
	&--content
		color lighten($text, 20)
		font-size 0.9em
		line-height 1.5
		padding 1em
		border-top 3px solid $celedon
		background-color rgba($celedon, 0.2)
		margin-top 2em

	&.slide-hide
		height 0
		overflow hidden
	
		+mq('bp-2')
			height 100%
			overflow visible
			transform translateY(-25em)