//=======================
// Note
//=======================
.note
	background-color rgba($celedon, 0.85)
	padding 0.25em 0.5em
	border-radius 3px
	transition $ease
	cursor pointer
	
	
	&:hover
		background-color rgba($salmon, 0.5)
	
	&--info
		color lighten($text, 20)
		font-size 0.8em
		line-height 1.5
		transition $ease
		margin-bottom 2em
		
		
		p
			margin-bottom 1em
			
			a
				color $salmon
				transition $ease
				
				&:hover
					color darken($celedon, 20)
		
		+mq('bp-2')
			position absolute
			left 0
			top 0
			max-width 11em

.hidden
	height 0
	overflow-x hidden
	opacity 0
	
	+mq('bp-2')
		height 100%
		overflow-x visible
		transform translateX(-5em)