//=======================
// Refer List
//=======================
.refer
	list-style-type none
	
	&--item
		line-height 1.5
		margin-bottom 3em
	
	&--kicker
		font($sans)
		text-transform uppercase
		font-size 0.7em
		color lighten($text, 20)
		margin-bottom 0.5em
		letter-spacing 0.1em
	
	&--link
		color $text
		font($sans, $bold)
		position relative
		padding-bottom 0.35em
		font-size 1.2em
		
		&:before
			content ''
			position absolute
			bottom 0
			right 0
			display block
			width 100%
			border-bottom 3px solid $celedon
			transition 0.7s ease-in-out all
		
		&:after
			@extends .refer--link:before
			border-bottom 3px solid $salmon
		
		// Resolve mobile hover issue
		+mq('bp-2')		
			&:hover
				&:before
					width 100%
				
				&:after
					width 0px
	
	&--info
		margin-top 1em


// Emoji Kickers
.refer--kicker:before
	margin-right 0.25em

.illustration:before
	content '\1F3A8'  // artist's palette

.longform:before
	content '\1F4D5'  // open book

.interactive:before
	content '\1F4BB'  // desktop computer

.prototype:before
	content '\1F528'  // hammer