//=======================
// Social
//=======================
.social
	list-style-type none
	display flex
	justify-content space-between
	border-top 1px solid #eee
	padding-top 1em
	
	svg
		fill $salmon
		transition $ease
		
		&:hover
			fill $text