<footer>
  <h2 id={{ footer.title| slugify }}>{{ footer.title }}</h2>
  <ul>
    {% for item in footer.link_list %}
    <li>
      <a rel="me" href="{{ item.url }}">{{ item.title }}</a>
    </li>
    {% endfor %}
  </ul>
</footer>
