<footer>
  <h2>Elsewhere on the internet</h2>
  <ul>
    <li>
      <a href="https://www.instagram.com/elainanatario/">Instagram</a>
    </li>
    <li>
      <a href="https://twitter.com/elainanatario">Twitter</a>
    </li>
    <li>
      <a href="https://github.com/enatario">Github</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/elainanatario/">Linkedin</a>
    </li>
    <li>
      <a href="https://codepen.io/enatario">Codepen</a>
    </li>
    <li>
      <a href="mailto:elaina.natario@gmail.com">Email</a>
    </li>
  </ul>
</footer>
