<header role='banner' class='container hed'>
	<h1 class='hed--title hidden'>Elaina Natario</h1>
	<p class='hed--tagline'>Elaina Natario is a designer, storyteller, coder, and gif enthusiast. Currently a newsroom designer at the <a href='http://www.bostonglobe.com/' target='_blank'>Boston Globe</a> <sup class='note--tag'>&hellip;</sup>
		{{> graphic/note }}
	</p>
</header>