<a href='#content' class='skip-to-main'>Skip to main content</a>
<header role='banner' class='container hed'>
	<h1 class='hed--title'>Elaina Natario</h1>
	<p class='hed--tagline'>I'm Elaina, designer, doodler, and gif enthusiast.</p>
</header>