<header role='banner' class='container hed'>
	<h1 class='hed--title hidden'>Elaina Natario</h1>
	<p class='hed--tagline'>{{{copy.hed}}} <sup class='note--tag'>&hellip;</sup>
		{{> graphic/note }}
	</p>
</header>