<header role='banner' class='container hed'>
	<h1 class='hed--title hidden'>Elaina Natario</h1>
	<p class='hed--tagline'>I'm Elaina , designer, doodler, and gif enthusiast <sup class='note--tag'>&hellip;</sup>
		{{> graphic/note }}
	</p>
</header>