<aside class='note slide-hide'>
	<div class='note--content'>
		<p>
		Other things I am good at: research and user experience, user interface design, illustration, lettering, and coding (HTML, CSS, and a smattering of JS).
		</p>
	</div>
</aside>