<aside class='note slide-hide'>
	<div class='note--content'>
		<p>
		Other things I am good at: research and user experience, user interface design, illustration, lettering, and coding (HTML, CSS, and a smattering of JS).
		</p>
		<p>
		Many of the web projects were created alongside the very talented, <a href='http://russellgoldenberg.github.io/' target='_blank'>Russell Goldenberg</a>.
		</p>
	</div>
</aside>