<aside class='note--info hidden'>
	<p>
	By made, I mean research and user experience, user interface design, illustration, lettering, and coding (HTML, CSS, and a smattering of JS).
	</p>
	<p>
	Many of the web projects were created alongside the very talented, <a href='http://russellgoldenberg.github.io/' target='_blank'>Russell Goldenberg</a>.
	</p>
</aside>