<aside class='note slide-hide'>
	<div class='note--content'>
		<p class='note--hed'>Other things I do</p>
		<p>
		 Research and user experience, user interface design, illustration, lettering, and coding (HTML, CSS, and a smattering of JS).
		</p>
	</div>
</aside>