<ul class='social'>
	<li class='social--item'>
		<a class='social--link' href="https://dribbble.com/elainanatario" target='_blank'>
			@@include('dribbble.svg')
		</a>
	</li>
	<li class='social--item'>
		<a class='social--link' href="https://www.instagram.com/elainanatario/" target='_blank'>
			@@include('insta.svg')
		</a>
	</li>
	<li class='social--item'>
		<a class='social--link' href="https://twitter.com/elainanatario" target='_blank'>
			@@include('twitter.svg')
		</a>
	</li>
	<li class='social--item'>
		<a class='social--link' href="https://github.com/enatario" target='_blank'>
			@@include('github.svg')
		</a>
	</li>
</ul>