---
layout: layouts/base.njk
---

<header>
  <h1 class="u-hide-visually">Elaina Natario: designer and coder</h1>
  <p>
  Hi friend! I’m Elaina Natario, a designer and coder living in <a href="https://en.wikipedia.org/wiki/Salem,_Massachusetts">Salem, Massachusetts</a>.  Currently, I’m a senior product and front-end designer at <a href="https://thoughtbot.com/">thoughtbot</a>.
  </p>
</header>

<section>
  <h2>Projects</h2>
  <ul>
    <li>
      <time datetime="2021">2021</time>
      <a href="https://www.monumentpalettes.style/">Monument Palettes</a>
    </li>
    <li>
      <time datetime="2021">2017</time>
      <a href="https://www.theatlantic.com/theplatinumpatients/">The Platinum Patients</a>
    </li>
  </ul>
</section>

<section>
  <h2>Writing</h2>
  <ul>
    <li>
      <time datetime="2020">2020</time>
      <a href="https://thoughtbot.com/blog/alt-vs-figcaption">Alt vs Figcaption</a>
    </li>
    <li>
      <time datetime="2020">2020</time>
      <a href="https://thoughtbot.com/blog/my-first-remote-design-sprint">My first remote design sprint</a>
    </li>
    <li>
      <time datetime="2018">2018</time>
      <a href="https://pudding.cool/process/scrollytelling-sticky/">Easier scrollytelling with position sticky</a>
    </li>
  </ul>
</section>
