---
layout: layouts/base.njk
---

<header>
  <h1 class="u-hide-visually">{{ header.title }}</h1>
  <p>{{ header.intro | safe }}</p>
</header>

{% for section in content.section %}
<section>
  <h2>{{ section.title }}</h2>
  {% for item in section.dated_list %}
    <li>
      <time datetime="{{ item.date }}">{{ item.date }}</time>
      <a href="{{ item.url }}">{{ item.title }}</a>
    </li>
  {% endfor %}
</section>
{% endfor %}
